body
{
	background-color: #333;
	font-size:18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
}

h1{
	color:#FFF;
	font-size:26px;
	}

div
{
	width: 30%;
	margin: 0px auto;
	background-color: #FFF;
	min-width: 320px;
	padding: 10px;
	border-radius:25px;
	text-align:left;
}

span.dateModified{
	font-size: 14px;
	text-align: right;
	float: right;
	}
	
a{
	text-decoration:none;
	color:#000066;
	}
	
a:hover{
	color: #AA0000;
	}	
		
ul{
	margin:15px;
	padding:0px;
	}
	
li{
	margin:0px;
	padding:0px;
	list-style:none;
	}	
	
